[submodule "libs/ruby-build"]
	path = libs/ruby-build
	url = git://github.com/sstephenson/ruby-build.git
[submodule "libs/rbenv"]
	path = libs/rbenv
	url = git://github.com/sstephenson/rbenv.git
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim.git
[submodule ".bash_it"]
	path = .bash_it
	url = git://github.com/revans/bash-it.git
[submodule ".zsh.d/z"]
	path = .zsh.d/z
	url = git://github.com/rupa/z.git
[submodule ".zsh.d/zsh-completions"]
	path = .zsh.d/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule ".zsh.d/zsh-syntax-highlighting"]
	path = .zsh.d/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "libs/phpenv"]
	path = libs/phpenv
	url = git://github.com/phpenv/phpenv.git
[submodule ".zsh.d/auto-fu"]
	path = .zsh.d/auto-fu
	url = git://github.com/hchbaw/auto-fu.zsh.git
