[submodule "libs/ruby-build"]
	path = libs/ruby-build
	url = git://github.com/sstephenson/ruby-build.git
[submodule "libs/rbenv"]
	path = libs/rbenv
	url = git://github.com/sstephenson/rbenv.git
[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim.git
