### OSX
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

### Vim
.vim/bundle/.neobundle/doc/*
.vim/bundle/.neobundle/install_info
.vim/bundle/.neobundle/.netrwhist
.vim/bundle/ruby-matchit
.vim/bundle/pyflakes-pathogen
.vim/bundle/rope-vim
.vim/bundle/syntastic
.vim/bundle/neocomplcache-rsense
.vim/bundle/neosnippet
.vim/bundle/qfixhowm
.vim/bundle/unite-haddock
.vim/bundle/unite.vim
.vim/bundle/vim-easymotion
.vim/bundle/vim-fugitive
.vim/bundle/vim-latex
.vim/bundle/vim-rails
.vim/bundle/vim-quickrun
.vim/bundle/vim-indent-guides
.vim/bundle/vimshell
.vim/bundle/vimproc
.vim/bundle/wmgraphviz.vim
.vim/bundle/neocomplcache
.vim/bundle/vim-ruby
.vim/bundle/vim2hs
.vim/bundle/vim-rspec
.vim/bundle/vim-colors-solarized
.vim/bundle/open-browser.vim
.vim/bundle/open-browser-github.vim
.vim/bundle/vim-browsereload-mac
.vim/bundle/vim-powerline
.vim/bundle/ghcmod-vim
.vim/bundle/neco-ghc
